:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
}

/* Main container */
.main-container {
  width: 500px;
  height: 280px;
  margin: 0 auto;
}


div.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
